@charset "UTF-8";
/*
    html5doctor.com Reset Stylesheet
    v1.6.1
    Last Updated: 2010-09-17
    Author: Richard Clark - http://richclarkdesign.com
    Twitter: @rich_clark
    */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  /* プロジェクトによって変動 */
  min-width: auto;
  color: #000;
  line-height: 1.6;
  width: 100%;
  font-variant-numeric: tabular-nums;
  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

button {
  line-height: 1.0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

p {
  font-size: 30px;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  color: #222222;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

.bold {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
  max-width: 100%;
}

svg {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'renner';
  src: url(../common/font/renner__400_book-webfont.woff);
}

@media (max-width: 768px) {
  .isPc {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .isSp {
    display: none !important;
  }
}

/*
    html5doctor.com Reset Stylesheet
    v1.6.1
    Last Updated: 2010-09-17
    Author: Richard Clark - http://richclarkdesign.com
    Twitter: @rich_clark
    */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  /* プロジェクトによって変動 */
  min-width: auto;
  color: #000;
  line-height: 1.6;
  width: 100%;
  font-variant-numeric: tabular-nums;
  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

button {
  line-height: 1.0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  font-size: 16px;
  color: #222222;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

.bold {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
  font-weight: bold;
}

img {
  width: 100%;
  max-width: 100%;
}

svg {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'renner';
  src: url(../common/font/renner__400_book-webfont.woff);
}

.ttl {
  font-size: 32px;
  font-family: "renner";
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .ttl {
    font-size: 24px;
  }
}

.wapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.news-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .news-l {
    margin-bottom: 65px;
  }
}

.news-l li {
  position: relative;
  width: calc(306 / 1000 * 100%);
}

@media screen and (max-width: 768px) {
  .news-l li {
    width: calc(357 / 754 * 100%);
  }
}

.news-l li figure {
  max-width: 100%;
  height: 172px;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .news-l li figure {
    height: auto;
  }
}

.news-l li figure img {
  height: 172px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 1s all;
  transition: 1s all;
}

.news-l li figure img:hover {
  -webkit-transition: 1s all;
  transition: 1s all;
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

@media screen and (max-width: 768px) {
  .news-l li figure img {
    max-width: 100%;
    height: auto;
  }
}

.news-l div {
  background: #ffffff;
  padding: 30px 15px;
}

@media screen and (max-width: 768px) {
  .news-l div {
    margin-top: -5px;
  }
}

.news-l div p {
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.8;
}

@media screen and (max-width: 768px) {
  .news-l div p {
    font-size: 12px;
  }
}

.news-l div .day {
  font-size: 12px;
  font-family: "renner";
  margin-bottom: 0;
}

.news-l .category {
  font-family: "renner";
  color: #ffffff;
  position: absolute;
  top: 6%;
  left: -15px;
  background-color: #A8041E;
  padding: 5px 10px;
  font-size: 12px;
  letter-spacing: 0.1em;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .news-l .category {
    font-size: 8px;
  }
}

.btn {
  max-width: 324px;
  background-color: #A8041E;
  position: relative;
  z-index: 2;
  display: block;
  line-height: 0;
  color: #fff;
  text-align: center;
  text-decoration: none !important;
  font-family: "renner";
  font-weight: 500;
  font-size: 16px;
  line-height: 70px;
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .btn {
    max-width: 100%;
    width: 100%;
  }
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #ffffff;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.btn:hover {
  color: #A8041E;
}

.btn:hover::before {
  bottom: 0;
}

.btn02 {
  background-color: #ffffff;
  color: #A8041E;
}

.btn02::before {
  background-color: #A8041E;
}

.btn02:hover {
  color: #ffffff;
}

.btn02:hover::before {
  left: 0;
}

.btnArea {
  position: relative;
  padding: 0 20px;
  max-width: 324px;
  margin: 0 auto;
}

.waku {
  z-index: 3;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 14px 14px;
  border-color: transparent transparent #A8041E transparent;
}

.pageTtl {
  padding-top: 111px;
}

@media screen and (max-width: 768px) {
  .pageTtl {
    padding-top: 88px;
  }
}

.pageTtl_Area {
  color: #ffffff;
  padding: 90px 0 90px 130px;
  background: #A8041E;
}

@media screen and (max-width: 768px) {
  .pageTtl_Area {
    padding: 60px 0px;
  }
}

.pageTtl_Area h2 {
  font-size: 45px;
  font-weight: normal;
  font-family: "renner";
  letter-spacing: 0.15em;
}

@media screen and (max-width: 768px) {
  .pageTtl_Area h2 {
    font-size: 32px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .pageTtl_Area p {
    font-size: 14px;
    text-align: center;
  }
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

@media screen and (max-width: 1000px) {
  header {
    height: 90px;
  }
}

@media screen and (max-width: 768px) {
  header {
    background-color: transparent;
  }
}

header h1 {
  padding: 37px 0 0 35px;
}

@media screen and (max-width: 1000px) {
  header h1 {
    padding: 25px 0 0 30px;
  }
}

header h1 img {
  width: 200px;
}

@media screen and (max-width: 1280px) {
  header h1 img {
    width: 15.625vw;
  }
}

@media screen and (max-width: 1000px) {
  header h1 img {
    width: 75%;
  }
}

header .header-l {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  header .header-l {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    z-index: 88;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
}

header .header-l nav {
  margin-right: 60px;
}

header .header-l nav li {
  font-family: "renner";
  display: inline-block;
  font-size: 14px;
  margin-right: 50px;
}

@media screen and (max-width: 1280px) {
  header .header-l nav li {
    margin-right: 3.90625vw;
  }
}

@media screen and (max-width: 1000px) {
  header .header-l nav li {
    display: block;
    font-size: 32px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

header .header-l nav li:last-child {
  margin-right: 0;
}

header .header-l nav li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

header .header-l nav li a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #A8041E;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

header .header-l nav li a:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

header .header-l_btn {
  position: relative;
  display: inline-block;
  padding: 35px 55px 32px 55px;
  background-color: #000000;
  overflow: hidden;
  z-index: 2;
}

header .header-l_btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #A8041E;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

header .header-l_btn:hover {
  color: #A8041E;
}

header .header-l_btn:hover::before {
  bottom: 0;
}

header .header-l_btn span {
  padding-right: 10px;
}

header .header-l_btn span img {
  width: 13px;
}

header .header-l_btn dl {
  color: #ffffff;
  text-align: center;
}

header .header-l_btn dl dt {
  font-family: "renner";
  font-size: 16px;
}

header .header-l_btn dl dd {
  font-size: 12px;
  font-weight: bold;
}

header .header-l_btn .waku {
  bottom: 0;
  right: 0;
  border-color: transparent transparent #A8041E transparent;
}

header .open .header-l {
  visibility: visible;
  opacity: 1;
}

header #navbtn {
  position: fixed;
  z-index: 99;
  top: 100px;
  right: 3%;
  padding: 0;
  outline: none;
  border: none;
  background: none;
  width: 40px;
  height: 33px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1000px) {
  header #navbtn {
    right: 20px;
    top: 8px;
    display: block;
  }
  header #navbtn span {
    display: block;
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #1D1D1D;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header #navbtn span:nth-of-type(2) {
    width: 30px;
    right: -10px;
    text-align: left;
    top: 9px;
  }
  header #navbtn span:nth-of-type(3) {
    width: 20px;
    right: -20px;
    text-align: left;
    top: 18px;
  }
}

.open #navbtn {
  z-index: 999999;
}

.open #navbtn span {
  top: 20px;
  width: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
}

.open #navbtn span:nth-of-type(2) {
  right: 0px;
  top: 15px;
  width: 40px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #ffffff;
}

.open #navbtn span:nth-of-type(3) {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.open .header-l {
  visibility: visible;
  opacity: 1;
}

.main {
  position: relative;
  margin-bottom: 10%;
  padding-top: 111px;
}

@media screen and (min-width: 1280px) {
  .main {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    padding-top: 90px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 0;
    margin-bottom: 80px;
  }
}

.main figure {
  width: 80%;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .main figure {
    width: 100%;
    margin-bottom: 45px;
  }
}

.main h2 {
  position: absolute;
  top: 40%;
  left: 6.5%;
  font-size: 5.625vw;
  color: #000000;
  font-family: "renner";
}

@media screen and (max-width: 768px) {
  .main h2 {
    position: static;
    padding: 0 20px;
  }
}

.main h2 span {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .main h2 span {
    color: #000000;
  }
}

.main_scroll {
  position: absolute;
  bottom: 20%;
  left: 2.5%;
}

.main_scroll_txt {
  position: absolute;
  left: 15px;
  font-family: "renner";
  font-size: 12px;
  font-weight: bold;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.main_scroll_bar {
  position: absolute;
  -webkit-animation: 2s arrow-animation infinite ease-in-out;
  animation: 3.5s arrow-animation infinite ease-in-out;
  border: 4px solid #707070;
}

.main_scroll_bar02 {
  position: absolute;
  left: 3px;
  width: 2px;
  height: 100px;
  background: #707070;
}

@-webkit-keyframes arrow-animation {
  0% {
    height: 0em;
  }
  66% {
    height: 5.8em;
  }
}

@keyframes arrow-animation {
  0% {
    height: 0em;
  }
  66% {
    height: 5.8em;
  }
}

.news {
  position: relative;
  margin-bottom: 28%;
}

@media screen and (min-width: 1280px) {
  .news {
    margin-bottom: 285px;
  }
}

@media screen and (max-width: 768px) {
  .news {
    margin-bottom: 40px;
  }
}

.news::before {
  content: "";
  background: #222222;
  width: 100%;
  height: 543px;
  position: absolute;
  top: 28%;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .news::before {
    height: 495px;
    top: 20%;
  }
}

.news .ttl {
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .news .ttl {
    margin-bottom: 20px;
  }
}

.news .waku {
  bottom: 0;
  right: 20px;
  z-index: 3;
  border-color: transparent transparent #ffffff transparent;
}

.about {
  position: relative;
  margin-bottom: 200px;
}

@media screen and (max-width: 768px) {
  .about {
    margin-bottom: 90px;
  }
}

.about figure {
  width: 90%;
  margin-left: auto;
  margin-bottom: 12%;
}

@media screen and (min-width: 1280px) {
  .about figure {
    margin-bottom: 120px;
  }
}

@media screen and (max-width: 768px) {
  .about figure {
    width: 100%;
  }
}

.about_txt {
  position: relative;
  margin-bottom: 115px;
}

@media screen and (max-width: 768px) {
  .about_txt {
    margin-bottom: 70px;
  }
}

.about_txt h2 {
  content: "ABOUT US";
  position: absolute;
  font-size: 120px;
  font-family: "renner";
  font-weight: 500;
  color: #F5F5F5;
  top: -58%;
  right: -56px;
  z-index: -1;
}

@media screen and (max-width: 1020px) {
  .about_txt h2 {
    font-size: 12vw;
    right: 0;
    top: -30%;
  }
}

.about_txt dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .about_txt dl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about_txt dl dt {
  font-size: 32px;
  font-weight: bold;
  width: 392px;
}

@media screen and (max-width: 768px) {
  .about_txt dl dt {
    width: 100%;
    margin-bottom: 30px;
  }
}

.about_txt dl dd {
  max-width: 44%;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .about_txt dl dd {
    max-width: 100%;
  }
}

.about ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .about ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about ul li {
  max-width: 324px;
}

@media screen and (max-width: 768px) {
  .about ul li {
    width: 100%;
    margin: 0 auto 50px;
    max-width: 100%;
  }
}

.about ul li figure {
  margin-left: 0;
  margin-bottom: 10px;
  width: 100%;
  margin: 0 auto;
}

.about ul li dl {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .about ul li dl {
    margin-bottom: 40px;
  }
}

.about ul li dl dt {
  font-size: 32px;
  font-family: "renner";
  font-weight: 500;
  letter-spacing: 0.15em;
}

.about ul li dl dd {
  font-size: 14px;
  font-weight: bold;
}

.about ul li p {
  font-size: 16px;
  letter-spacing: 0.01em;
}

.bussiness {
  position: relative;
}

.bussiness::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 100%;
  background: #E4E4E4;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .bussiness::before {
    width: 100%;
  }
}

.bussiness figure {
  position: absolute;
  right: 0;
  top: 150px;
  width: 49%;
  padding-bottom: 36%;
  background-image: url(assets/img/bussiness@2x.jpg);
  background-position: center;
  background-size: cover;
  z-index: 2;
}

@media screen and (min-width: 1280px) {
  .bussiness figure {
    padding-bottom: 0;
    height: 453px;
  }
}

@media screen and (max-width: 1000px) {
  .bussiness figure {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  .bussiness figure {
    position: static;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 55%;
    margin-bottom: 45px;
  }
}

.bussiness_Area {
  position: relative;
  padding: 150px 20px;
  max-width: 1150px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .bussiness_Area {
    padding: 60px 20px;
  }
}

.bussiness_Area h2 {
  font-size: 120px;
  color: #D1D1D1;
  position: absolute;
  top: 7%;
  font-family: "renner";
  font-weight: 500;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 1000px) {
  .bussiness_Area h2 {
    font-size: 9.375vw;
  }
}

.bussiness_Area_box {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bussiness_Area_box_txt {
  width: 35.9375vw;
  margin-right: 6.25vw;
  padding-top: 8%;
}

@media screen and (min-width: 1280px) {
  .bussiness_Area_box_txt {
    width: 460px;
  }
}

@media screen and (max-width: 768px) {
  .bussiness_Area_box_txt {
    width: 100%;
    margin-right: 0;
    padding-top: 0;
  }
}

.bussiness_Area_box_txt dl {
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .bussiness_Area_box_txt dl {
    margin-bottom: 50px;
  }
}

.bussiness_Area_box_txt dl dt {
  font-size: 32px;
  font-weight: bold;
}

.bussiness_Area_box_txt dl dt:nth-child(2) {
  margin-bottom: 30px;
}

.bussiness_Area_box_txt .btn {
  margin: 0;
}

@media screen and (max-width: 768px) {
  .bussiness_Area_box_txt .btn {
    margin: 0 auto;
  }
}

.bussiness .btnArea {
  margin: 0;
  padding: 0;
}

.bussiness .btnArea .waku {
  bottom: 0;
  right: 0;
  border-color: transparent transparent #A8041E transparent;
}

.future {
  overflow: hidden;
}

.future_Area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .future_Area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.future_Area_link {
  width: 37%;
  margin-right: 90px;
}

@media screen and (max-width: 1000px) {
  .future_Area_link {
    margin-right: 7vw;
  }
}

@media screen and (max-width: 768px) {
  .future_Area_link {
    width: 100%;
    margin-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.future_Area_link h2 {
  font-size: 24px;
  font-family: "renner";
  letter-spacing: 0.15em;
  width: 100%;
  padding: 18% 0;
  text-align: center;
  background-image: url(assets/img/company.jpg);
  background-size: cover;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .future_Area_link h2 {
    height: 50px;
    padding: 14% 0 18%;
  }
}

@media screen and (max-width: 768px) {
  .future_Area_link h2 {
    font-size: 13px;
    height: 0;
  }
}

.future_Area_link h2:last-child {
  background-image: url(assets/img/recruit.jpg);
}

.future_Area_link h2 a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.future_Area_link h2 a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  background: #A8041E;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.future_Area_link h2 a:hover::after {
  -webkit-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.future_Area_txt {
  max-width: 470px;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .future_Area_txt {
    width: 47vw;
    padding: 60px 20px 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media screen and (max-width: 768px) {
  .future_Area_txt {
    max-width: 100%;
    width: 100%;
    padding: 50px 20px 40px 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.future_Area_txt dt {
  font-size: 42px;
  font-family: "renner";
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
  .future_Area_txt dt {
    margin-bottom: 2vw;
  }
}

@media screen and (max-width: 768px) {
  .future_Area_txt dt {
    font-size: 36px;
    text-align: center;
  }
}

.future_Area_txt dd {
  line-height: 1.8;
}

footer {
  padding: 85px 0 85px 130px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background: #A8041E;
}

@media screen and (max-width: 768px) {
  footer {
    padding: 122px 0;
  }
}

footer h2 {
  width: 200px;
  line-height: 0;
}

@media screen and (max-width: 768px) {
  footer h2 {
    width: 98px;
    text-align: center;
    margin: 0 auto;
  }
}

.pageTtl {
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .pageTtl {
    margin-bottom: 70px;
  }
}

.newsCategory {
  font-family: "renner";
  margin-bottom: 60px;
}

.newsCategory_Area {
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .newsCategory_Area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 0;
  }
}

.newsCategory_Area p {
  font-size: 18px;
  margin-right: 60px;
}

@media screen and (max-width: 768px) {
  .newsCategory_Area p {
    margin-bottom: 30px;
    margin-right: 0;
  }
}

.newsCategory_Area p span img {
  width: 16px;
  margin-right: 10px;
}

.newsCategory_Area ul {
  width: 68%;
}

@media screen and (max-width: 768px) {
  .newsCategory_Area ul {
    width: 100%;
    margin: 0 auto;
    width: 79%;
  }
}

.newsCategory_Area ul li {
  display: inline-block;
  font-size: 14px;
  margin-right: 2.5%;
}

@media screen and (max-width: 768px) {
  .newsCategory_Area ul li {
    margin-bottom: 10px;
  }
}

.newsCategory_Area ul li:last-child {
  margin-right: 0;
}

.pageNews::before {
  background: #ffffff;
}

.pageNews .news-l li {
  margin-bottom: 40px;
}

.page-newsContents {
  max-width: 835px;
  margin: 0 auto;
  padding: 0 20px;
}

.page-newsContents p {
  font-size: 16px;
  margin-bottom: 80px;
}

@media screen and (max-width: 768px) {
  .page-newsContents p {
    margin-bottom: 50px;
  }
}

.page-newsContents_category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.page-newsContents_category_day {
  font-family: "renner";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-newsContents_category_day .day {
  font-size: 12px;
  background: #A8041E;
  display: inline;
  padding: 5px 10px;
  color: #ffffff;
  margin-right: 15px;
}

.page-newsContents_category_day p {
  font-size: 14px;
  margin-bottom: 0;
}

.page-newsContents_category_archive {
  position: relative;
  width: 145px;
}

.page-newsContents_category_archive p {
  font-size: 14px;
  border-bottom: 1px solid #000000;
  margin-bottom: 0;
}

.page-newsContents_category_archive p:hover {
  color: #A8041E;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-newsContents_category_archive p span {
  font-family: "renner";
}

.page-newsContents_category_archive .waku {
  right: 0;
  top: 9px;
  border-color: transparent transparent #A8041E transparent;
}

.page-newsContents h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .page-newsContents h2 {
    font-size: 24px;
  }
}

.page-newsContents figure {
  margin-bottom: 75px;
}

@media screen and (max-width: 768px) {
  .page-newsContents figure {
    margin-bottom: 40px;
  }
}

.page-newsContents_table {
  background: #FCFCFC;
  padding: 25px;
  margin-bottom: 60px;
}

.page-newsContents_table dt {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 25px;
}

.page-newsContents_table dt span {
  padding-right: 10px;
}

.page-newsContents_table dt span img {
  width: 13px;
  vertical-align: initial;
}

.page-newsContents_table dd {
  font-size: 14px;
  margin-bottom: 10px;
}

.page-newsContents_table dd:last-child {
  margin-bottom: 0;
}

.page-newsContents h3 {
  font-size: 28px;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 20px 10px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .page-newsContents h3 {
    font-size: 20px;
  }
}

.page-newsContents h4 {
  font-size: 16px;
  background: #F5F5F5;
  padding: 20px;
  margin-bottom: 30px;
}

.page-newsContents .img02 {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 290px;
}

@media screen and (max-width: 768px) {
  .page-newsContents .img02 {
    margin-bottom: 100px;
  }
}

.page-newsContents .listArea {
  border: 1px solid #000000;
  padding: 30px 20px;
  margin-bottom: 80px;
}

.page-newsContents .listArea li {
  font-size: 16px;
  margin-bottom: 20px;
}

.page-newsContents .listArea li:last-child {
  margin-bottom: 0;
}

.page-newsContents .btn02 {
  border: 1px solid #222222;
}

.page-newsContents .btnArea {
  margin-bottom: 50px;
}

.page-newsContents .btnArea .waku {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.page-newsContents .txt-link a {
  color: #A8041E;
  text-decoration: underline;
}

.page-newsContents .txt-link a:hover {
  text-decoration: none;
}

.page-newsContents_sns {
  background: #F5F5F5;
  padding: 110px 0 80px;
  font-family: "renner";
}

@media screen and (max-width: 768px) {
  .page-newsContents_sns {
    padding: 60px 0 40px;
  }
}

.page-newsContents_sns .wapper {
  max-width: 835px;
  margin: 0 auto;
}

.page-newsContents_sns .tag {
  font-size: 32px;
  margin-bottom: 20px;
}

.page-newsContents_sns ul {
  margin-bottom: 50px;
}

.page-newsContents_sns ul li {
  display: inline-block;
  margin-right: 15px;
  font-weight: bold;
}

.page-newsContents_sns_Area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 233px;
}

@media screen and (max-width: 768px) {
  .page-newsContents_sns_Area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.page-newsContents_sns_Area figure {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .page-newsContents_sns_Area figure {
    width: 100%;
  }
}

.page-newsContents_sns_Area figure img {
  height: 233px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .page-newsContents_sns_Area figure img {
    height: auto;
  }
}

.page-newsContents_sns_Area_link {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .page-newsContents_sns_Area_link {
    width: 100%;
    margin-top: -5px;
  }
}

.page-newsContents_sns_Area_link dl {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .page-newsContents_sns_Area_link dl {
    padding: 20px 0;
  }
}

.page-newsContents_sns_Area_link dl dt {
  font-size: 20px;
  margin-right: 20px;
}

.page-newsContents_sns_Area_link dl dt i {
  padding-right: 10px;
}

.page-newsContents_sns_Area_link dl dd {
  font-size: 14px;
}

.page-newsContents_sns_Area_link .sns-border {
  border-top: 1px solid #E4E4E4;
}

.page-newsContents_link {
  max-width: 910px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 20px 60px;
}

@media screen and (max-width: 768px) {
  .page-newsContents_link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.page-newsContents_link_nb {
  max-width: 604px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .page-newsContents_link_nb {
    margin-bottom: 60px;
  }
}

.page-newsContents_link_nb_box {
  padding-right: 40px;
}

@media screen and (max-width: 768px) {
  .page-newsContents_link_nb_box {
    padding-right: 20px;
  }
}

.page-newsContents_link_nb_box:last-child {
  padding-right: 60px;
  border-right: 1px solid #000000;
}

@media screen and (max-width: 768px) {
  .page-newsContents_link_nb_box:last-child {
    padding-right: 0;
    border-right: 0;
  }
}

.page-newsContents_link_nb_box p {
  font-size: 14px;
  font-family: "renner";
  font-weight: bold;
  margin-bottom: 30px;
}

.page-newsContents_link_nb_box dl {
  max-width: 267px;
}

.page-newsContents_link_nb_box dl dt {
  font-size: 14px;
  font-family: "renner";
  margin-bottom: 10px;
}

.page-newsContents_link_nb_box dl dd {
  font-size: 16px;
}

.page-newsContents_link .listBtn {
  font-size: 14px;
  font-family: "renner";
  font-weight: bold;
  margin-left: 80px;
}

@media screen and (max-width: 768px) {
  .page-newsContents_link .listBtn {
    margin-left: 0;
  }
}

.page-newsContents_link .listBtn span img {
  width: 16px;
  padding-left: 10px;
  vertical-align: text-top;
}
/*# sourceMappingURL=style.css.map */