// header-start
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    h1{
        padding: 37px 0 0 35px;
        img{
            width: 200px;
            @media screen and (max-width: 1000px) {
                width: 100%;
            }
        }
    }
    .header-l{
        display: flex;
        align-items: center;
        nav{
            margin-right: 60px;
            li{
                font-family: $enfont;
                display: inline-block;
                font-size: 14px;
                margin-right: 50px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
        &_btn{
            display: inline-block;
            padding: 35px 55px 32px 55px;
            background-color: #000000;
            span{
                padding-right: 10px;
                img{
                    width: 13px;
                }
            }
            dl{
                color: #ffffff;
                text-align: center;
                dt{
                    font-family: $enfont;
                    font-size: 16px;
                }
                dd{
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }
    }
}

// main-start
.main{
    position: relative;
    margin-bottom: 10%;
    @media screen and (min-width: 1280px) {
        margin-bottom: 100px;
    }
    figure{
        width: 80%;
        margin-left: auto;
    }
    h2{
        position: absolute;
        top: 40%;
        left: 6.5%;
        font-size: (72/1280*100vw);
        color: #000000;
        font-family: $enfont;
        span{
            color: #ffffff;
        }
    }
}

// news
.news{
    position: relative;
    margin-bottom: 28%;
    @media screen and (min-width: 1280px) {
        margin-bottom: 285px;
    }
    &::before{
        content: "";
        background: #222222;
        width: 100%;
        height: 543px;
        position: absolute;
        top: 28%;
        z-index: -1;
    }
    .ttl{
        margin-bottom: 40px;
    }
}

// about
.about{
    position: relative;
    figure{
        width: 90%;
        margin-left: auto;
        margin-bottom: 12%;
        @media screen and (min-width: 1280px) {
            margin-bottom: 120px;
        }
    }
    &_txt{
        position: relative;
        margin-bottom: 115px;
        &::before{
            content: "ABOUT US";
            position: absolute;
            font-size: 120px;
            font-family: "renner";
            color: #F5F5F5;
            top: -58%;
            right: -56px;
            z-index: -1;
            @media screen and (max-width: 1020px) {
                font-size: (120/1000*100vw);
                right: 0;
                top: -30%;
            }
        }
        dl{
            display: flex;
            justify-content: space-between;
            dt{
                font-size: 32px;
                font-weight: bold;
                width: 392px;
            }
            dd{
                max-width: 44%;
            }
        }
    }
}