.page-newsContents{
    max-width: 835px;
    margin: 0 auto;
    padding: 0 20px;
    p{
        font-size: 16px;
        margin-bottom: 80px;
        @include mqsp {
            margin-bottom: 50px;
        }
    }
    &_category{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
        &_day{
            font-family: $enfont;
            display: flex;
            align-items: center;
            .day{
                font-size: 12px;
                background: #A8041E;
                display: inline;
                padding: 5px 10px;
                color: #ffffff;
                margin-right: 15px;
            }
            p{
                font-size: 14px;
                margin-bottom: 0;
            }
        }
        &_archive{
            position: relative;
            width: 145px;
            p{
                font-size: 14px;
                border-bottom: 1px solid #000000;
                margin-bottom: 0;
                &:hover{
                    color: #A8041E;
                    transition: 0.5s;
                }
                span{
                    font-family: $enfont;
    
                }
            }
            .waku{
                right: 0;
                top: 9px;
                border-color: transparent transparent #A8041E transparent;
            }
        }
    }
    h2{
        font-size: 28px;
        margin-bottom: 30px;
        @include mqsp {
            font-size: 24px;
        }
    }
    figure{
        margin-bottom: 75px;
        @include mqsp {
            margin-bottom: 40px;
        }
    }
    &_table{
        background: #FCFCFC;
        padding: 25px;
        margin-bottom: 60px;
        dt{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 25px;
            span{
                padding-right: 10px;
                img{
                    width: 13px;
                    vertical-align: initial;
                }
            }
        }
        dd{
            font-size: 14px;
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    h3{
        font-size: 28px;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        padding: 20px 10px;
        margin-bottom: 30px;
        @include mqsp {
            font-size: 20px;
        }
    }
    h4{
        font-size: 16px;
        background: #F5F5F5;
        padding: 20px;
        margin-bottom: 30px;
    }
    .img02{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 290px;
        @include mqsp {
            margin-bottom: 100px;
        }
    }
    .listArea{
        border:1px solid #000000;
        padding: 30px 20px;
        margin-bottom: 80px;
        li{
            position: relative;
            font-size: 16px;
            margin-bottom: 20px;
            padding-left: 20px;
            &::before{
                position: absolute;
                content: "";
                width: 9px;
                height: 9px;
                top: 8px;
                left: -2px;
                background: #E4E4E4;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .btn02{
        border: 1px solid #222222;
    }
    .btnArea{
        margin-bottom: 50px;
        .waku{
            position: absolute;
            bottom: 0;
            right: 20px;
        }
    }
    .txt-link{
        a{
            color: #A8041E;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &_sns{
        background: #F5F5F5;
        padding: 110px 0 80px;
        font-family: $enfont;
        @include mqsp {
            padding: 60px 0 40px;
        }
        .wapper{
            max-width: 835px;
            margin: 0 auto;
        }
        .tag{
            font-size: 32px;
            margin-bottom: 20px;
        }
        ul{
            margin-bottom: 50px;
            li{
                display: inline-block;
                margin-right: 15px;
                font-weight: bold;
            }
        }
        &_Area{
            display: flex;
            height: 233px;
            @include mqsp {
                flex-direction: column;
                height: auto;
            }
            figure{
                width: 50%;
                @include mqsp {
                    width: 100%;
                }
                img{
                    height: 233px;
                    object-fit: cover;
                    @include mqsp {
                        height: auto;
                    }
                }
            }
            &_link{
                width:50%;
                @include mqsp {
                    width:100%;
                    margin-top: -5px;
                }
                dl{
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #ffffff;
                    @include mqsp {
                        padding: 20px 0;
                    }
                    dt{
                        font-size: 20px;
                        margin-right: 20px;
                        i{
                            padding-right: 10px;
                        }
                    }
                    dd{
                        font-size: 14px;
                    }
                }
                .sns-border{
                    border-top: 1px solid #E4E4E4;
                }
            }
        }
    }
    &_link{
        max-width: 910px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding: 80px 20px 60px;
        @include mqsp {
            flex-direction: column;
        }
        &_nb{
            max-width: 604px;
            width: 100%;
            display: flex;
            @include mqsp {
                margin-bottom: 60px;
            }
            &_box{
                padding-right: 40px;
                width: 41%;
                @include mqsp {
                    padding-right: 20px;
                    width: 50%;
                }
                &:last-child{
                    padding-right: 60px;
                    border-right: 1px solid #000000;
                    @include mqsp {
                        padding-right: 0;
                        border-right: 0;
                    }
                }
                a{  
                    display: block;
                    font-size: 14px;
                    font-family: $enfont;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                    dl{
                        max-width: 267px;
                        dt{
                            font-size: 14px;
                            font-family: $enfont;
                            margin-bottom: 10px;
                        }
                        dd{
                            font-size: 16px;
                        }
                    }
            }
        }
        .listBtn{
            font-size: 14px;
            font-family: $enfont;
            font-weight: bold;
            margin-left: 80px;
            @include mqsp {
                margin-left: 0;
            }
            span{
                img{
                    width: 16px;
                    padding-left: 10px;
                    vertical-align:text-top;
                }
            }
        }
    }
}