.pageTtl{
    margin-bottom: 100px;
    @include mqsp {
        margin-bottom: 70px;
    }
}

.newsCategory{
    font-family: $enfont;
    margin-bottom: 60px;
    &_Area{
        margin-left: 40px;
        display: flex;
        align-items: center;
        @include mqsp {
            flex-direction: column;
            margin-left: 0;
        }
        p{
            font-size: 18px;
            margin-right: 60px;
            @include mqsp {
                margin-bottom: 30px;
                margin-right: 0;
            }
            span{
                img{
                    width: 16px;
                    margin-right: 10px;
                }
            }
        }
        ul{
            width: 68%;
            @include mqsp {
                width:100%;
                margin: 0 auto;
                width: 79%;
            }
            li{
                display: inline-block;
                font-size: 14px;
                margin-right: 2.5%;
                @include mqsp {
                    margin-bottom: 10px;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
            .on,.current-cat {
                border-bottom: 2px solid #222222;
                padding-bottom: 3px;
            }
        }
    }
}
.pageNews{
    &::before{
        background: #ffffff;
    }
    .news-l{
        li{
            margin-bottom: 40px;
            &:last-child{
                display: block;
            }
        }
    }
}
.m-pagenation__body{
    display: flex;
    justify-content: center;
    li{
        font-size: 14px;
        font-weight: bold;
        font-family: $enfont;
        color: #A8041E;
        margin-right: 20px;
        position: relative;
        border-bottom: 1px solid #F5F5F5;
        transition: 0.5s ;
        &:hover{
            border-bottom: 1px solid #A8041E;
            transition: 0.5s ;
        }
        a{
            display: block;
            padding: 19px 25px;
            background: #F5F5F5;
        }
    }
    .-current{
        padding: 19px 25px;
        background: #A8041E;
        color: #ffffff;
        &:hover{
            border-bottom: 1px solid #F5F5F5;
        }
    }
}
